.App {
  margin-top: 15px;
  text-align: center;
}

.App .navbar {
  background-color: #ccffe0;
}

.App .navbar-brand {
  font-weight: bold;
  color: black;
}

.App .navbar-collapse {
  font-weight: bold;
  color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
