.MyListings .listings {
  text-align: left;
}

.MyListings .listings img {
  float: left;
  margin-right: 20px;
}

.MyListings .listings .buttons {
  margin-top: 10px;
}

.MyListings h1 {
  background-color: #f0e2ff;
  padding: 20px 0;
}

.MyListings {
  padding-bottom: 50px;
}
