.LoaderButton .spinning.glyphicon {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}
@keyframes spin {
  from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); }
}

.LoaderButton, .LoaderButton:hover, .LoaderButton:visited, .LoaderButton:active {
  max-width: 40%;
  margin: auto;
  border-radius: 10px;
  border: none;
  color: #FFFFFF;
  background-color: #56CA9C;
  margin: 20px auto;
}

.LoaderButton:disabled, .LoaderButton:disabled:hover, .LoaderButton:disabled:active {
  background-color: #7EDCBE;
}
